<h1>Team Randomizer</h1>

<% if @error %>
    <div class="error">
	<%= @error %>
    </div>
<% end %>

<h2>Names</h2>
<form action="/" method="POST">
    <label for="name-field">
	Enter a list of names separated by commas
    </label>
    <textarea rows="10" cols="80" id="name-field" name="names">
    </textarea>
    <label for="num-of-teams">
	How many teams do you want?
    </label>
    <input type="text" name="num_of_teams">
    <div>
	<input type="submit" value="Randomize!">
    </div>
</form>
<hr>
<% session[:teams].each do |key, value| %>
    <div class="team">
	<h3><%= key%></h3>
	<% value.each do |member| %>
	    <%= member%><br>
	<% end %>
    </div>
<% end %>




