body {
    background-color: ivory;
    font-family: sans-serif;
    box-sizing: border-box;
}   

h1 {
    text-align: center;
    font-family: Garamond;
    font-size: 3em;
}


.error {
    color: maroon;
    background-color: pink;
    text-align: center;
    font-size: 2em;
    font-family: sans-serif;
}

.team {
    border: 5px #Fc8 solid;
    border-radius: 5px;
    display: inline-block;
    padding: 0px 30px 20px 30px;
}

